---
openapi: 3.1.0
info:
  title: За столом — API
  version: 1.9.0
  description: 'Контракт server/index.mjs и server/store.mjs. JSON без envelope: списки
    — массивы; ошибки — {error:string}. Все деньги JSON API в целых копейках. JSON-тела
    <=65536 байт. POST /api/auth/*: максимум 180 запросов за 10 минут на IP; TRUST_PROXY=true
    доверяет X-Real-IP только за настроенным reverse proxy. Неизвестные JSON-поля
    не назначают роли, цену или scope. Отсутствуют отмена, reopen, оплата
    и интеграции POS. Публичный server URL — назначение развёртывания, не заявление
    о его готовности.'
servers:
- url: https://mail.lonelycraft.ru/banquet
  description: Назначение production через nginx, который удаляет /banquet
- url: http://localhost:3100
  description: Локальный Docker Compose
- url: http://localhost:3000
  description: Прямой Node.js backend
security:
- SessionBearer: []
paths:
  "/healthz":
    get:
      operationId: health
      summary: Проверка процесса и SQLite
      description: ''
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Health"
        '500':
          "$ref": "#/components/responses/500"
      security: []
  "/api/config":
    get:
      operationId: config
      summary: Публичная конфигурация интерфейса
      description: ''
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Config"
        '500':
          "$ref": "#/components/responses/500"
      security: []
  "/api/auth/max":
    post:
      operationId: loginMax
      summary: Обмен подписанных данных MAX на сессию
      description: HMAC-SHA256 по алгоритму MAX; auth_date не старше часа и не более
        30 секунд в будущем. Глобальные администраторы определяются по RESTAURANT_ADMIN_IDS
        и таблице global_admins; администраторы ресторанов — из restaurant_members, организаторы — из прав конкретных банкетов.
        Live-сессия 7 суток; не более 10 активных сессий на пользователя.
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Session"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '413':
          "$ref": "#/components/responses/413"
        '415':
          "$ref": "#/components/responses/415"
        '429':
          "$ref": "#/components/responses/429"
        '503':
          "$ref": "#/components/responses/503"
        '500':
          "$ref": "#/components/responses/500"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MaxLogin"
      security: []
  "/api/auth/demo":
    post:
      operationId: loginDemo
      summary: Создать демо, сменить роль или войти по демо-приглашению
      description: Без sandbox создаётся отдельный scope с синтетическими данными.
        С sandbox выбирается роль в своём демо. inviteCode без sandbox создаёт только
        guest в scope приглашения, игнорируя запрошенные привилегии; live-приглашение
        даёт 403. Демо-сессия 24 часа, scope хранится 7 суток. Не более MAX_DEMO_SPACES
        (по умолчанию 1000) demo scope. DEMO_ENABLED=false также отзывает существующие
        демо-сессии и скрывает публичные демо-приглашения.
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DemoSession"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
        '409':
          "$ref": "#/components/responses/409"
        '413':
          "$ref": "#/components/responses/413"
        '415':
          "$ref": "#/components/responses/415"
        '429':
          "$ref": "#/components/responses/429"
        '500':
          "$ref": "#/components/responses/500"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/DemoLogin"
      security: []
  "/api/max/webhook":
    post:
      operationId: maxWebhook
      summary: Принять событие MAX и ответить ссылкой Mini App
      description: Проверка секрета до чтения тела. Persistent claim перед ответом
        обеспечивает не более одной попытки welcome на событие. Тайм-аут MAX API 8
        секунд; ошибка доставки после claim подтверждается 200 без автоматической
        повторной отправки.
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WebhookAck"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '413':
          "$ref": "#/components/responses/413"
        '415':
          "$ref": "#/components/responses/415"
        '503':
          "$ref": "#/components/responses/503"
        '500':
          "$ref": "#/components/responses/500"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MaxUpdate"
      security:
      - MaxWebhookSecret: []
  "/api/invites/{code}":
    get:
      operationId: previewInvite
      summary: Посмотреть сведения и снимок меню по приглашению
      description: 'Публично: основные сведения мероприятия и меню. Имена, пожелания,
        бюджет, сумма и сводка участников отсутствуют. Просмотр доступен и после закрытия
        сбора, пока мероприятие существует.'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/InvitePreview"
        '404':
          "$ref": "#/components/responses/404"
        '500':
          "$ref": "#/components/responses/500"
      security: []
      parameters:
      - "$ref": "#/components/parameters/code"
  "/api/me":
    get:
      operationId: me
      summary: Текущий пользователь
      description: ''
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/User"
        '401':
          "$ref": "#/components/responses/401"
        '500':
          "$ref": "#/components/responses/500"
  "/api/me/phone":
    put:
      operationId: verifyPhone
      summary: Привязать подтверждённый номер телефона MAX к текущей сессии
      description: Тело — результат window.WebApp.requestContact(). Сервер проверяет HMAC-SHA256 токеном бота, свежесть authDate и userId из подписанной MAX-сессии; присланный клиентом userId не принимается. Номер нормализуется в международный формат без плюса. Демо-сессии запрещены.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MaxContact"
      responses:
        '200':
          description: Обновлённый профиль
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/User"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '409':
          "$ref": "#/components/responses/409"
  "/api/me/claim-invitations":
    post:
      operationId: claimMyInvitations
      summary: Найти и принять приглашения по подтверждённому номеру MAX
      description: Для общей кнопки бота, которая не передаёт код банкета. Требует подпись MAX для номера через PUT /api/me/phone. Находит только записи текущего номера, закрепляет их за текущим MAX ID и возвращает доступные eventId. Повторный вызов безопасен. Закрытые банкеты без ранее принятого приглашения пропускаются.
      responses:
        '200':
          description: Доступные банкеты гостя
          content:
            application/json:
              schema:
                type: object
                properties:
                  eventIds:
                    type: array
                    items: { type: string }
                required: [eventIds]
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
  "/api/me/notifications":
    put:
      operationId: setNotifications
      summary: Включить или выключить уведомления в MAX
      description: Доставка возможна только после начала личного диалога с ботом. По умолчанию выключено; bot_stopped отключает фактическую отправку.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled]
              properties:
                enabled:
                  type: boolean
      responses:
        '200':
          description: Обновлённый профиль
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/User"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
  "/api/media":
    post:
      operationId: uploadPhoto
      summary: Загрузить фото для блюда или напитка
      description: Авторизованный пользователь. Бинарное тело до 3 МиБ, проверяется сигнатура формата. Возвращённый photoUrl передаётся при создании или правке блюда или банкета.
      requestBody:
        required: true
        content:
          image/jpeg:
            schema: { type: string, format: binary }
          image/png:
            schema: { type: string, format: binary }
          image/webp:
            schema: { type: string, format: binary }
      responses:
        '201':
          description: Путь к загруженному фото
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PhotoUpload"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '413':
          "$ref": "#/components/responses/413"
        '415':
          "$ref": "#/components/responses/415"
  "/api/media/{fileName}":
    get:
      operationId: getPhoto
      summary: Получить публичное фото блюда
      security: []
      parameters:
      - "$ref": "#/components/parameters/fileName"
      responses:
        '200':
          description: JPEG, PNG или WebP
        '404':
          "$ref": "#/components/responses/404"
  "/api/restaurants":
    get:
      operationId: restaurants
      summary: Рестораны и текущий каталог своего scope
      description: Все роли видят каталог только своего scope. sampleMenu обозначает
        пример каталога и сбрасывается при первой его правке.
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Restaurant"
        '401':
          "$ref": "#/components/responses/401"
        '500':
          "$ref": "#/components/responses/500"
    post:
      operationId: createRestaurant
      summary: Добавить ресторан
      description: Только суперадминистратор (RESTAURANT_ADMIN_IDS). Меню нового ресторана пустое.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/RestaurantInput"
      responses:
        '201':
          description: Создан
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Restaurant"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '429':
          "$ref": "#/components/responses/429"
  "/api/restaurants/{restaurantId}":
    patch:
      operationId: editRestaurant
      summary: Изменить название, адрес или описание ресторана
      description: Администратор этого ресторана.
      parameters:
      - "$ref": "#/components/parameters/restaurantId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/RestaurantInput"
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Restaurant"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
  "/api/restaurants/{restaurantId}/favorite":
    put:
      operationId: addRestaurantFavorite
      summary: Добавить ресторан в личное избранное
      parameters:
      - "$ref": "#/components/parameters/restaurantId"
      responses:
        '200': { description: Состояние избранного текущего пользователя }
        '401': { "$ref": "#/components/responses/401" }
        '404': { "$ref": "#/components/responses/404" }
    delete:
      operationId: removeRestaurantFavorite
      summary: Убрать ресторан из личного избранного
      parameters:
      - "$ref": "#/components/parameters/restaurantId"
      responses:
        '200': { description: Состояние избранного текущего пользователя }
        '401': { "$ref": "#/components/responses/401" }
        '404': { "$ref": "#/components/responses/404" }
  "/api/restaurants/{restaurantId}/members":
    get:
      operationId: listRestaurantMembers
      summary: Назначенные роли в ресторане
      description: Доступно глобальному администратору и администратору этого ресторана.
      parameters:
      - "$ref": "#/components/parameters/restaurantId"
      responses:
        '200':
          description: Список назначенных ролей
          content:
            application/json:
              schema:
                type: array
                items: { "$ref": "#/components/schemas/RestaurantMember" }
        '403': { "$ref": "#/components/responses/403" }
  "/api/admins/{userId}":
    put:
      operationId: setGlobalAdmin
      summary: Назначить или снять глобального администратора
      description: Только действующий глобальный администратор. userId из /api/users либо числовой MAX ID. Нельзя снять собственную или закреплённую на сервере роль.
      parameters:
      - name: userId
        in: path
        required: true
        schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled]
              properties:
                enabled: { type: boolean }
      responses:
        '200': { description: Текущая глобальная роль пользователя }
        '403': { "$ref": "#/components/responses/403" }
        '409': { "$ref": "#/components/responses/409" }
  "/api/restaurants/{restaurantId}/packages":
    post:
      operationId: createRestaurantPackage
      summary: Создать фиксированный пакет ресторана
      parameters:
      - "$ref": "#/components/parameters/restaurantId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { "$ref": "#/components/schemas/PackageInput" }
      responses:
        '201':
          description: Созданный пакет
          content:
            application/json:
              schema: { "$ref": "#/components/schemas/Package" }
        '403': { "$ref": "#/components/responses/403" }
  "/api/restaurants/{restaurantId}/packages/{packageId}":
    patch:
      operationId: updateRestaurantPackage
      summary: Изменить пакет ресторана
      parameters:
      - "$ref": "#/components/parameters/restaurantId"
      - name: packageId
        in: path
        required: true
        schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { "$ref": "#/components/schemas/PackageInput" }
      responses:
        '200':
          description: Обновлённый пакет
          content:
            application/json:
              schema: { "$ref": "#/components/schemas/Package" }
        '403': { "$ref": "#/components/responses/403" }
    delete:
      operationId: deleteRestaurantPackage
      summary: Удалить пакет из каталога ресторана
      parameters:
      - "$ref": "#/components/parameters/restaurantId"
      - name: packageId
        in: path
        required: true
        schema: { type: string }
      responses:
        '200': { description: Пакет удалён }
        '403': { "$ref": "#/components/responses/403" }
  "/api/restaurants/{restaurantId}/members/{userId}":
    put:
      operationId: setRestaurantMember
      summary: Выдать пользователю роль в ресторане
      description: userId из /api/users либо числовой MAX ID. Глобальный администратор
        назначает администратора ресторана. Организаторы назначаются на конкретный банкет через /api/events/{eventId}/organizers/{identity}. none убирает доступ; свою роль изменить нельзя (409).
      parameters:
      - "$ref": "#/components/parameters/restaurantId"
      - name: userId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role]
              properties:
                role:
                  type: string
                  enum: [admin, none]
      responses:
        '200':
          description: Успешно
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
        '409':
          "$ref": "#/components/responses/409"
    delete:
      operationId: deleteRestaurantMember
      summary: Снять роль в ресторане
      description: Эквивалент PUT с {role:none}; администратор ресторана не может снять другого администратора.
      parameters:
      - "$ref": "#/components/parameters/restaurantId"
      - name: userId
        in: path
        required: true
        schema: { type: string }
      responses:
        '200': { description: Роль снята }
        '403': { "$ref": "#/components/responses/403" }
  "/api/users":
    get:
      operationId: listUsers
      summary: Только участники доступных банкетов и администраторы доступных ресторанов
      description: Доступно организатору банкета или администратору ресторана. Пользователи вне их банкетов и ресторанов скрыты. До 200 записей.
      parameters:
      - name: q
        in: query
        required: false
        description: Часть имени, цифры телефона или точный MAX ID.
        schema:
          type: string
          maxLength: 80
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ManagedUser"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
  "/api/events":
    get:
      operationId: events
      summary: Доступные текущему пользователю банкеты
      description: Владелец, участник или ресторанная роль в том же scope. Сортировка
        created_at DESC; без пагинации.
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Event"
        '401':
          "$ref": "#/components/responses/401"
        '500':
          "$ref": "#/components/responses/500"
    post:
      operationId: createEvent
      summary: Создать банкет и снимок доступного меню
      description: Organizer или restaurant. Создание события и event_menu в транзакции. Не
        более 30 событий на демо-организатора или 500 на live-организатора.
      responses:
        '201':
          description: Успешно
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Event"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '409':
          "$ref": "#/components/responses/409"
        '413':
          "$ref": "#/components/responses/413"
        '415':
          "$ref": "#/components/responses/415"
        '429':
          "$ref": "#/components/responses/429"
        '500':
          "$ref": "#/components/responses/500"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/EventCreate"
  "/api/events/{eventId}":
    get:
      operationId: event
      summary: Банкет, персональный выбор и разрешённая сводка
      description: ''
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/EventDetail"
        '401':
          "$ref": "#/components/responses/401"
        '404':
          "$ref": "#/components/responses/404"
        '500':
          "$ref": "#/components/responses/500"
      parameters:
      - "$ref": "#/components/parameters/eventId"
    patch:
      operationId: editEvent
      summary: Изменить дату, дедлайн, название, число гостей или бюджет
      description: Владелец или ресторан, пока заказ collecting. expectedRevision обязателен; при конкурирующем изменении возвращается 409. Число гостей не может быть меньше длины списка приглашённых.
      parameters:
      - "$ref": "#/components/parameters/eventId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/EventPatch"
      responses:
        '200':
          description: Обновлённый банкет
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Event"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '409':
          "$ref": "#/components/responses/409"
    delete:
      operationId: deleteEvent
      summary: Удалить банкет, приглашения, заказы и рассадку
      description: До утверждения — организатор банкета или администратор ресторана; после утверждения — только администратор ресторана.
      parameters:
      - "$ref": "#/components/parameters/eventId"
      responses:
        '200': { description: Банкет удалён }
        '401': { "$ref": "#/components/responses/401" }
        '403': { "$ref": "#/components/responses/403" }
        '404': { "$ref": "#/components/responses/404" }
  "/api/events/{eventId}/guests":
    post:
      operationId: addInvitedGuest
      summary: Добавить приглашённого по имени и телефону
      description: Владелец или ресторан. Номер уникален в рамках банкета; ожидаемое число гостей увеличится автоматически, если нужно.
      parameters:
      - "$ref": "#/components/parameters/eventId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/InvitedGuestCreate"
      responses:
        '201':
          description: Созданная запись гостя
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/InvitedGuest"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '409':
          "$ref": "#/components/responses/409"
  "/api/events/{eventId}/guests/{guestId}":
    patch:
      operationId: editInvitedGuest
      summary: Изменить имя или ещё не подтверждённый номер гостя
      parameters:
      - "$ref": "#/components/parameters/eventId"
      - "$ref": "#/components/parameters/guestId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/InvitedGuestPatch"
      responses:
        '200':
          description: Изменённая запись
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/InvitedGuest"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
        '409':
          "$ref": "#/components/responses/409"
    delete:
      operationId: deleteInvitedGuest
      summary: Удалить приглашённого, если он ещё не выбрал блюда
      parameters:
      - "$ref": "#/components/parameters/eventId"
      - "$ref": "#/components/parameters/guestId"
      responses:
        '200':
          description: "{success:true}"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
        '409':
          "$ref": "#/components/responses/409"
  "/api/events/{eventId}/menu":
    post:
      operationId: addEventMenuItem
      summary: Добавить блюдо или напиток только в этот банкет
      description: Владелец или ресторан. Не меняет общий каталог ресторана. КБЖУ на одну порцию обязательны.
      parameters:
      - "$ref": "#/components/parameters/eventId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MenuItemCreate"
      responses:
        '201':
          description: Созданная позиция
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MenuItem"
        '400':
          "$ref": "#/components/responses/400"
        '403':
          "$ref": "#/components/responses/403"
        '409':
          "$ref": "#/components/responses/409"
  "/api/events/{eventId}/menu/{itemId}":
    patch:
      operationId: editEventMenuItem
      summary: Изменить позицию меню этого банкета
      description: Если блюдо уже выбрано, цена, название и доступность заблокированы; описание, КБЖУ и фото можно обновить.
      parameters:
      - "$ref": "#/components/parameters/eventId"
      - "$ref": "#/components/parameters/itemId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MenuItemPatch"
      responses:
        '200':
          description: Обновлённая позиция
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MenuItem"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
        '409':
          "$ref": "#/components/responses/409"
    delete:
      operationId: deleteEventMenuItem
      summary: Удалить позицию, если гости её ещё не выбрали
      parameters:
      - "$ref": "#/components/parameters/eventId"
      - "$ref": "#/components/parameters/itemId"
      responses:
        '200':
          description: "{success:true}"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
        '409':
          "$ref": "#/components/responses/409"
  "/api/invites/{code}/join":
    post:
      operationId: joinInvite
      summary: Присоединить текущего пользователя к банкету
      description: Тело не требуется и не обрабатывается. Повтор для уже присоединившегося
        идемпотентен, в том числе после утверждения/дедлайна. В live требуется
        предварительно подтверждённый MAX номер. Если его ещё нет в списке,
        действительная ссылка создаёт собственную запись гостя. Новое присоединение
        только в открытый банкет своего scope, максимум 1000 участников.
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Joined"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
        '409':
          "$ref": "#/components/responses/409"
        '500':
          "$ref": "#/components/responses/500"
      parameters:
      - "$ref": "#/components/parameters/code"
  "/api/events/{eventId}/selection":
    put:
      operationId: saveSelection
      summary: Полностью заменить собственный выбор
      description: До дедлайна, только collecting. В live нужен свой подтверждённый
        номер из списка приглашённых; организатор-владелец может выбрать блюда для себя без
        записи в списке и присоединяется автоматически.
        Обновление транзакционное, revision увеличивается,
        цена берётся из event_menu. Позиции с forGuests=false и позиции общего стола
        выбрать нельзя (400). Блюда дороже foodBudget или напитки дороже drinkBudget
        отклоняются (409); лимиты независимы.
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SelectionSaved"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
        '409':
          "$ref": "#/components/responses/409"
        '413':
          "$ref": "#/components/responses/413"
        '415':
          "$ref": "#/components/responses/415"
        '500':
          "$ref": "#/components/responses/500"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SelectionPut"
      parameters:
      - "$ref": "#/components/parameters/eventId"
  "/api/events/{eventId}/approve":
    post:
      operationId: approveEvent
      summary: Утвердить заказ от имени владельца
      description: Только owner. Для collecting необходима текущая expectedRevision
        и минимум один submitted гость. Можно утвердить после дедлайна, без всех ответов,
        сверх ориентира бюджета. Already approved возвращается без изменения. Менять
        выбор после утверждения нельзя.
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Event"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
        '409':
          "$ref": "#/components/responses/409"
        '413':
          "$ref": "#/components/responses/413"
        '415':
          "$ref": "#/components/responses/415"
        '500':
          "$ref": "#/components/responses/500"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/Approve"
      parameters:
      - "$ref": "#/components/parameters/eventId"
  "/api/kitchen/export":
    get:
      operationId: exportKitchen
      summary: Выгрузить раздел «Кухня» в Excel или CSV
      description: Администратор. XLSX содержит листы «Порции», «Гости», «Рассадка» и «Пакеты»; CSV — те же блоки подряд, с защитой от формул. Без eventIds выгружаются все доступные банкеты.
      parameters:
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum: [xlsx, csv]
          default: csv
      - name: eventIds
        in: query
        required: false
        description: От 1 до 100 доступных ID, через запятую.
        schema: { type: string }
      responses:
        '200':
          description: Файл
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
            text/csv:
              schema:
                type: string
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
  "/api/kitchen/export-link":
    post:
      operationId: kitchenExportLink
      summary: Одноразовая ссылка на выгрузку «Кухни» для WebApp.downloadFile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [format]
              properties:
                format:
                  type: string
                  enum: [xlsx, csv]
                eventIds:
                  type: array
                  minItems: 1
                  maxItems: 100
                  uniqueItems: true
                  items: { type: string }
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExportLink"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
  "/api/downloads/kitchen/{downloadToken}":
    get:
      operationId: downloadKitchen
      summary: Скачать выгрузку «Кухни» по одноразовой ссылке
      security: []
      parameters:
      - "$ref": "#/components/parameters/downloadToken"
      responses:
        '200':
          description: Файл XLSX или CSV
        '404':
          "$ref": "#/components/responses/404"
  "/api/kitchen":
    get:
      operationId: kitchenBoard
      summary: Раздел «Кухня» администратора
      description: Администратор. Банкеты ресторанов, где пользователь — администратор,
        с датой не раньше вчерашнего дня, по дате — порции, общий стол, пожелания и места гостей.
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/KitchenEntry"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '500':
          "$ref": "#/components/responses/500"
  "/api/events/{eventId}/shared":
    put:
      operationId: saveSharedTable
      summary: Задать блюда и закуски на общий стол
      description: Владелец или администратор, только collecting. Список заменяется
        целиком. Позиции берутся из меню банкета по цене снимка, входят в total и в
        сводку кухни, но не в бюджет гостя. Гости видят общий стол и не могут заказать
        эти позиции сами; позицию, которую уже выбрал гость, перенести нельзя (409).
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SharedSaved"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
        '409':
          "$ref": "#/components/responses/409"
        '413':
          "$ref": "#/components/responses/413"
        '415':
          "$ref": "#/components/responses/415"
        '500':
          "$ref": "#/components/responses/500"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SharedPut"
      parameters:
      - "$ref": "#/components/parameters/eventId"
  "/api/events/{eventId}/menu/import":
    post:
      operationId: importEventMenu
      summary: Добавить позиции общего каталога в меню банкета
      description: Владелец или администратор, только collecting. Копирует доступные
        позиции каталога ресторана банкета; уже присутствующие пропускаются.
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MenuImported"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
        '409':
          "$ref": "#/components/responses/409"
        '413':
          "$ref": "#/components/responses/413"
        '415':
          "$ref": "#/components/responses/415"
        '429':
          "$ref": "#/components/responses/429"
        '500':
          "$ref": "#/components/responses/500"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MenuImport"
      parameters:
      - "$ref": "#/components/parameters/eventId"
  "/api/events/{eventId}/menu/catalog":
    put:
      operationId: saveEventCatalogSelection
      summary: Выбрать блюда каталога для меню банкета
      description: Сохраняет выбранный набор атомарно. Уже заказанные гостями и поставленные на общий стол блюда удалить нельзя. Собственные позиции банкета не затрагиваются.
      parameters:
      - "$ref": "#/components/parameters/eventId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { "$ref": "#/components/schemas/CatalogSelection" }
      responses:
        '200':
          description: Выбор сохранён
          content:
            application/json:
              schema:
                type: object
                required: [added, removed, count]
                properties:
                  added: { type: integer, minimum: 0 }
                  removed: { type: integer, minimum: 0 }
                  count: { type: integer, minimum: 0 }
        '400': { "$ref": "#/components/responses/400" }
        '401': { "$ref": "#/components/responses/401" }
        '403': { "$ref": "#/components/responses/403" }
        '404': { "$ref": "#/components/responses/404" }
        '409': { "$ref": "#/components/responses/409" }
  "/api/events/{eventId}/seating":
    put:
      operationId: saveSeating
      summary: Включить рассадку и сохранить схему зала
      description: Только владелец или ресторан, только collecting. mode и layout
        необязательны по отдельности. Схема заменяется целиком; 409, если исчезает
        уже занятое место. Изменение рассадки не меняет revision заказа.
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Seating"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
        '409':
          "$ref": "#/components/responses/409"
        '413':
          "$ref": "#/components/responses/413"
        '415':
          "$ref": "#/components/responses/415"
        '500':
          "$ref": "#/components/responses/500"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SeatingPut"
      parameters:
      - "$ref": "#/components/parameters/eventId"
  "/api/events/{eventId}/seat":
    put:
      operationId: chooseSeat
      summary: Занять или освободить собственное место
      description: Только режим choice, до дедлайна и утверждения. Требования к гостю
        те же, что для выбора блюд. seatId=null освобождает место; занятое другим
        гостем место даёт 409.
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Seating"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
        '409':
          "$ref": "#/components/responses/409"
        '413':
          "$ref": "#/components/responses/413"
        '415':
          "$ref": "#/components/responses/415"
        '500':
          "$ref": "#/components/responses/500"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SeatChoice"
      parameters:
      - "$ref": "#/components/parameters/eventId"
  "/api/events/{eventId}/seating/assignments":
    put:
      operationId: assignSeat
      summary: Назначить место гостю вручную
      description: Только владелец или ресторан, только collecting. Если место занято,
        гости меняются местами (прежний владелец места получает старое место гостя
        или остаётся без места). seatId=null снимает гостя с места.
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Seating"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
        '409':
          "$ref": "#/components/responses/409"
        '413':
          "$ref": "#/components/responses/413"
        '415':
          "$ref": "#/components/responses/415"
        '500':
          "$ref": "#/components/responses/500"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SeatAssignment"
      parameters:
      - "$ref": "#/components/parameters/eventId"
  "/api/events/{eventId}/seating/auto":
    post:
      operationId: autoSeat
      summary: Рассадить гостей без места
      description: Только владелец или ресторан, режим choice или fixed. Сначала
        заполняются столы, где уже кто-то сидит, затем пустые столы по порядку.
        То же выполняется автоматически при утверждении заказа.
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AutoSeatResult"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
        '409':
          "$ref": "#/components/responses/409"
        '500':
          "$ref": "#/components/responses/500"
      parameters:
      - "$ref": "#/components/parameters/eventId"
  "/api/restaurants/{restaurantId}/menu":
    post:
      operationId: createMenuItem
      summary: Добавить блюдо в каталог
      description: Только restaurant в своём scope; максимум 500 блюд. Это изменение
        текущего каталога, не снимков существующих событий.
      responses:
        '201':
          description: Успешно
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MenuItem"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
        '413':
          "$ref": "#/components/responses/413"
        '415':
          "$ref": "#/components/responses/415"
        '429':
          "$ref": "#/components/responses/429"
        '500':
          "$ref": "#/components/responses/500"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MenuItemCreate"
      parameters:
      - "$ref": "#/components/parameters/restaurantId"
  "/api/restaurants/{restaurantId}/menu/{itemId}":
    patch:
      operationId: patchMenuItem
      summary: Изменить блюдо в каталоге
      description: ''
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MenuItem"
        '400':
          "$ref": "#/components/responses/400"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
        '413':
          "$ref": "#/components/responses/413"
        '415':
          "$ref": "#/components/responses/415"
        '500':
          "$ref": "#/components/responses/500"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MenuItemPatch"
      parameters:
      - "$ref": "#/components/parameters/restaurantId"
      - "$ref": "#/components/parameters/itemId"
    delete:
      operationId: deleteCatalogMenuItem
      summary: Удалить позицию общего каталога ресторана
      description: Только restaurant. Меню уже созданных банкетов не меняется.
      parameters:
      - "$ref": "#/components/parameters/restaurantId"
      - "$ref": "#/components/parameters/itemId"
      responses:
        '200':
          description: "{success:true}"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
  "/api/events/{eventId}/export.csv":
    get:
      operationId: exportCsv
      summary: Скачать утверждённый заказ для кухни
      description: 'Только owner или restaurant того же scope, статус approved. UTF-8
        BOM, разделитель ;, CRLF. Секции: банкет/дата, суммарные количества/суммы,
        позиции по гостям с пожеланиями. CSV суммы в рублях с 2 знаками; формулы в
        текстовых полях нейтрализуются.'
      responses:
        '200':
          description: CSV-файл
          headers:
            Content-Disposition:
              schema:
                type: string
              example: attachment; filename="banquet-kitchen.csv"
          content:
            text/csv:
              schema:
                type: string
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
        '409':
          "$ref": "#/components/responses/409"
        '500':
          "$ref": "#/components/responses/500"
      parameters:
      - "$ref": "#/components/parameters/eventId"
  "/api/events/{eventId}/export-link":
    post:
      operationId: createExportLink
      summary: Создать одноразовую ссылку CSV для MAX Bridge
      description: Bearer owner/restaurant, только approved. Тело не требуется. TTL60
        секунд, одна действующая ссылка на user/event; новая заменяет старую. Передать
        url в WebApp.downloadFile(url, filename) по пользовательскому клику.
      parameters:
      - "$ref": "#/components/parameters/eventId"
      responses:
        '200':
          description: Одноразовая ссылка
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExportLink"
        '401':
          "$ref": "#/components/responses/401"
        '403':
          "$ref": "#/components/responses/403"
        '404':
          "$ref": "#/components/responses/404"
        '409':
          "$ref": "#/components/responses/409"
        '500':
          "$ref": "#/components/responses/500"
  "/api/downloads/{downloadToken}":
    get:
      operationId: consumeExportLink
      summary: Однократно скачать CSV по короткоживущей ссылке
      description: 'Без Bearer: token в пути является capability. Проверяются срок,
        действующая роль владельца, scope, approved и revision. Ссылка расходуется
        атомарно; неизвестная, использованная, истёкшая или отозванная возвращает404.
        Cache-Control private,no-store; Referrer-Policy no-referrer.'
      security: []
      parameters:
      - "$ref": "#/components/parameters/downloadToken"
      responses:
        '200':
          description: CSV-файл
          headers:
            Content-Disposition:
              schema:
                type: string
              example: attachment; filename="banquet-kitchen.csv"
          content:
            text/csv:
              schema:
                type: string
        '404':
          "$ref": "#/components/responses/404"
        '500':
          "$ref": "#/components/responses/500"
  "/api/restaurants/{restaurantId}/halls":
    post:
      operationId: createHall
      summary: Добавить зал и окна бронирования
      parameters: [{ "$ref": "#/components/parameters/restaurantId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { "$ref": "#/components/schemas/HallInput" }
      responses:
        '201': { description: Зал создан }
        '403': { "$ref": "#/components/responses/403" }
        '409': { "$ref": "#/components/responses/409" }
  "/api/restaurants/{restaurantId}/halls/{hallId}":
    parameters:
    - { "$ref": "#/components/parameters/restaurantId" }
    - { name: hallId, in: path, required: true, schema: { type: string } }
    patch:
      operationId: updateHall
      summary: Изменить зал и окна бронирования
      requestBody:
        required: true
        content:
          application/json:
            schema: { "$ref": "#/components/schemas/HallInput" }
      responses:
        '200': { description: Зал обновлён }
        '409': { "$ref": "#/components/responses/409" }
    delete:
      operationId: deleteHall
      summary: Удалить зал без банкетов
      responses:
        '200': { description: Зал удалён }
        '409': { "$ref": "#/components/responses/409" }
  "/api/restaurants/{restaurantId}/availability":
    get:
      operationId: hallAvailability
      summary: Окна и занятые интервалы залов на дату
      parameters:
      - { "$ref": "#/components/parameters/restaurantId" }
      - { name: date, in: query, required: true, schema: { type: string, format: date } }
      - { name: hallId, in: query, required: false, schema: { type: string } }
      responses:
        '200': { description: Список залов с windows и booked; чужие брони содержат только start и end, свои также eventId }
  "/api/restaurants/{restaurantId}/availability/month":
    get:
      operationId: hallAvailabilityMonth
      summary: Свободные слоты начала банкета на месяц с шагом 30 минут
      parameters:
      - { "$ref": "#/components/parameters/restaurantId" }
      - { name: month, in: query, required: true, schema: { type: string, pattern: '^[0-9]{4}-(0[1-9]|1[0-2])$' } }
      - { name: hallId, in: query, required: true, schema: { type: string } }
      - { name: durationHours, in: query, required: true, schema: { type: integer, minimum: 1, maximum: 12 } }
      - { name: excludeEventId, in: query, required: false, schema: { type: string }, description: Исключить свою бронь при редактировании; доступно только управляющему банкетом }
      responses:
        '200': { description: "Объект month, hallId, durationHours, days; каждый день содержит date и массив доступных часов HH:mm по Москве" }
        '403': { "$ref": "#/components/responses/403" }
  "/api/restaurants/{restaurantId}/package-dishes":
    post:
      operationId: createPackageDish
      summary: Создать блюдо только для пакетных предложений
      parameters: [{ "$ref": "#/components/parameters/restaurantId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { "$ref": "#/components/schemas/PackageDishInput" }
      responses:
        '201': { description: Блюдо создано }
        '403': { "$ref": "#/components/responses/403" }
  "/api/restaurants/{restaurantId}/package-dishes/{dishId}":
    parameters:
    - { "$ref": "#/components/parameters/restaurantId" }
    - { name: dishId, in: path, required: true, schema: { type: string } }
    patch:
      operationId: updatePackageDish
      summary: Изменить блюдо пакетного предложения
      requestBody:
        required: true
        content:
          application/json:
            schema: { "$ref": "#/components/schemas/PackageDishInput" }
      responses:
        '200': { description: Блюдо обновлено }
    delete:
      operationId: deletePackageDish
      summary: Удалить неиспользуемое блюдо пакета
      responses:
        '200': { description: Блюдо удалено }
        '409': { "$ref": "#/components/responses/409" }
  "/api/events/{eventId}/organizers":
    get:
      operationId: eventOrganizers
      summary: Организаторы конкретного банкета
      parameters: [{ "$ref": "#/components/parameters/eventId" }]
      responses:
        '200': { description: Список создателя и назначенных организаторов }
  "/api/events/{eventId}/organizers/{identity}":
    parameters:
    - { "$ref": "#/components/parameters/eventId" }
    - { name: identity, in: path, required: true, schema: { type: string }, description: "ID пользователя, max:ID или phone:номер" }
    put:
      operationId: setEventOrganizer
      summary: Назначить или снять организатора банкета
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [enabled], properties: { enabled: { type: boolean } } }
      responses:
        '200': { description: Права обновлены }
        '403': { "$ref": "#/components/responses/403" }
    delete:
      operationId: deleteEventOrganizer
      summary: Снять организатора банкета
      responses:
        '200': { description: Права сняты }
        '409': { "$ref": "#/components/responses/409" }
components:
  securitySchemes:
    SessionBearer:
      type: http
      scheme: bearer
      description: Токен приложения из /api/auth/max или /api/auth/demo, не MAX_BOT_TOKEN.
    MaxWebhookSecret:
      type: apiKey
      in: header
      name: X-Max-Bot-Api-Secret
  parameters:
    code:
      name: code
      in: path
      required: true
      schema:
        type: string
        pattern: "^[A-Za-z0-9_-]{24}$"
    eventId:
      name: eventId
      in: path
      required: true
      schema:
        type: string
    restaurantId:
      name: restaurantId
      in: path
      required: true
      schema:
        type: string
    itemId:
      name: itemId
      in: path
      required: true
      schema:
        type: string
    downloadToken:
      name: downloadToken
      in: path
      required: true
      schema:
        type: string
        pattern: "^[A-Za-z0-9_-]{43}$"
    guestId:
      name: guestId
      in: path
      required: true
      schema:
        type: string
    fileName:
      name: fileName
      in: path
      required: true
      schema:
        type: string
        pattern: "^[a-f0-9-]{36}\\.(jpg|png|webp)$"
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
      required:
      - error
    Health:
      type: object
      properties:
        status:
          type: string
          enum:
          - ok
      required:
      - status
    Config:
      type: object
      properties:
        demoEnabled:
          type: boolean
        maxConfigured:
          type: boolean
          description: Наличие MAX_BOT_TOKEN; не доказывает доступность webhook, модерацию
            или правильность токена.
        botUsername:
          type: string
      required:
      - demoEnabled
      - maxConfigured
      - botUsername
    User:
      type: object
      properties:
        id:
          type: string
          description: Непрозрачный идентификатор из ответа API; не интерпретировать
            как UUID без префикса.
        name:
          type: string
          maxLength: 160
        role:
          type: string
          enum:
          - organizer
          - guest
          - restaurant
          - admin
        maxId:
          type: [string, 'null']
          description: Числовой MAX ID; null в демонстрации.
        demo:
          type: boolean
        phoneVerified:
          type: boolean
        phone:
          type: [string, 'null']
          description: Только собственный подтверждённый номер в международном формате без плюса.
        notificationsEnabled:
          type: boolean
        access:
          type: array
          items:
            type: object
            properties:
              restaurantId: { type: string }
              restaurantName: { type: string }
              role: { type: string, enum: [admin] }
        superAdmin:
          type: boolean
        botConnected:
          type: boolean
          description: Пользователь открыл чат с ботом — уведомления могут быть доставлены.
      required:
      - id
      - name
      - maxId
      - role
      - demo
      - phoneVerified
      - phone
      - notificationsEnabled
    Session:
      type: object
      properties:
        token:
          type: string
          description: Bearer-секрет приложения. Хранится в БД только в SHA-256; не
            токен MAX.
        user:
          "$ref": "#/components/schemas/User"
      required:
      - token
      - user
    DemoSession:
      allOf:
      - "$ref": "#/components/schemas/Session"
      - type: object
        properties:
          sandbox:
            type:
            - string
            - 'null'
            description: Секрет демо-пространства для переключения ролей; null при
              входе гостя по приглашению.
          eventId:
            type: string
            description: Непрозрачный идентификатор из ответа API; не интерпретировать
              как UUID без префикса.
        required:
        - sandbox
    MaxLogin:
      type: object
      properties:
        initData:
          type: string
          minLength: 1
          maxLength: 16384
          description: Исходная строка window.WebApp.initData без повторной JSON-сериализации
            вложенного user.
      required:
      - initData
    MaxContact:
      type: object
      description: Исходный результат window.WebApp.requestContact(); подпись проверяется сервером.
      properties:
        phone:
          type: string
        authDate:
          type: string
        hash:
          type: string
          pattern: "^[a-fA-F0-9]{64}$"
      required: [phone, authDate, hash]
    PhotoUpload:
      type: object
      properties:
        photoUrl:
          type: string
          pattern: "^/api/media/[a-f0-9-]{36}\\.(jpg|png|webp)$"
      required: [photoUrl]
    DemoLogin:
      type: object
      properties:
        role:
          type: string
          enum:
          - admin
          - organizer
          - guest
          - restaurant
          default: organizer
        sandbox:
          type: string
          maxLength: 128
          description: Для продолжения собственного демо. Не передавать null.
        inviteCode:
          type: string
          pattern: "^[A-Za-z0-9_-]{24}$"
        name:
          type: string
          maxLength: 80
          description: Имя нового демо-гостя по приглашению; по умолчанию Новый гость.
    MenuItem:
      type: object
      properties:
        id:
          type: string
          description: Непрозрачный идентификатор из ответа API; не интерпретировать
            как UUID без префикса.
        name:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          maxLength: 500
        ingredients:
          type: string
          maxLength: 1000
          description: Состав позиции; пустая строка, если не указан.
        forGuests:
          type: boolean
          default: true
          description: В меню банкета — доступна ли позиция гостям для выбора. В общем
            каталоге не используется.
        category:
          type: string
          minLength: 1
          maxLength: 80
        price:
          type: integer
          minimum: 1
          maximum: 100000000
          description: Цена за порцию, целые копейки.
        weight:
          type: string
          maxLength: 40
        emoji:
          type: string
          maxLength: 12
        allergens:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 80
          maxItems: 20
        labels:
          "$ref": "#/components/schemas/MenuLabels"
        available:
          type: boolean
        vegetarian:
          type: boolean
        photoUrl:
          type: string
          description: Пустая строка либо URL из POST /api/media.
        nutrition:
          "$ref": "#/components/schemas/Nutrition"
      required:
      - id
      - name
      - description
      - category
      - price
      - weight
      - emoji
      - allergens
      - labels
      - available
      - vegetarian
    MenuLabels:
      type: array
      uniqueItems: true
      maxItems: 3
      items:
        type: string
        enum: [Халяль, Много белка, Мало калорий]
      description: Редактируемые пометки. «Халяль» указывается только после подтверждения рестораном.
    Nutrition:
      type: object
      description: Пищевая ценность одной указанной порции; тестовые значения ориентировочные.
      properties:
        kcal: { type: integer, minimum: 0, maximum: 10000 }
        protein: { type: number, minimum: 0, maximum: 1000, multipleOf: 0.1 }
        fat: { type: number, minimum: 0, maximum: 1000, multipleOf: 0.1 }
        carbs: { type: number, minimum: 0, maximum: 1000, multipleOf: 0.1 }
      required: [kcal, protein, fat, carbs]
    MenuItemCreate:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          maxLength: 500
        ingredients:
          type: string
          maxLength: 1000
          description: Состав позиции; пустая строка, если не указан.
        forGuests:
          type: boolean
          default: true
          description: В меню банкета — доступна ли позиция гостям для выбора. В общем
            каталоге не используется.
        category:
          type: string
          minLength: 1
          maxLength: 80
        price:
          type: integer
          minimum: 1
          maximum: 100000000
          description: Цена за порцию, целые копейки.
        weight:
          type: string
          maxLength: 40
        emoji:
          type: string
          maxLength: 12
        allergens:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 80
          maxItems: 20
        labels:
          "$ref": "#/components/schemas/MenuLabels"
        available:
          type: boolean
        vegetarian:
          type: boolean
        photoUrl:
          type: string
        nutrition:
          "$ref": "#/components/schemas/Nutrition"
      required:
      - name
      - category
      - price
      - nutrition
      description: "Описание/вес по умолчанию пустые, emoji \U0001F37D️, available
        true, vegetarian false, allergens [], labels []."
    MenuItemPatch:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          maxLength: 500
        ingredients:
          type: string
          maxLength: 1000
          description: Состав позиции; пустая строка, если не указан.
        forGuests:
          type: boolean
          default: true
          description: В меню банкета — доступна ли позиция гостям для выбора. В общем
            каталоге не используется.
        category:
          type: string
          minLength: 1
          maxLength: 80
        price:
          type: integer
          minimum: 1
          maximum: 100000000
          description: Цена за порцию, целые копейки.
        weight:
          type: string
          maxLength: 40
        emoji:
          type: string
          maxLength: 12
        allergens:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 80
          maxItems: 20
        labels:
          "$ref": "#/components/schemas/MenuLabels"
        available:
          type: boolean
        vegetarian:
          type: boolean
        photoUrl:
          type: string
        nutrition:
          "$ref": "#/components/schemas/Nutrition"
      description: Частичная правка каталога; снимки меню существующих банкетов не
        изменяются.
    Restaurant:
      type: object
      properties:
        id:
          type: string
          description: Непрозрачный идентификатор из ответа API; не интерпретировать
            как UUID без префикса.
        name:
          type: string
        description:
          type: string
        address:
          type: string
        sampleMenu:
          type: boolean
        favorite:
          type: boolean
          description: Ресторан в избранном текущего пользователя.
        access:
          type: string
          enum: [admin]
          nullable: true
          description: Административный доступ к ресторану; null у гостя или организатора без роли. Каталог всех ресторанов доступен каждому вошедшему только для чтения.
        menu:
          type: array
          items:
            "$ref": "#/components/schemas/MenuItem"
        packageDishes:
          type: array
          items: { type: object, description: Блюдо только для пакетного предложения с КБЖУ и фото }
        halls:
          type: array
          items: { "$ref": "#/components/schemas/Hall" }
        packages:
          type: array
          items:
            "$ref": "#/components/schemas/Package"
      required:
      - id
      - name
      - description
      - address
      - sampleMenu
      - menu
      - packages
      - packageDishes
      - halls
    Hall:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        capacity: { type: integer }
        windows: { type: array, items: { type: object } }
        seatingConfig:
          "$ref": "#/components/schemas/SeatingConfig"
        allowedSeating: { type: array, deprecated: true, items: { type: string, enum: [choice, fixed] } }
        defaultSeatingTemplate: { type: string, enum: [rounds, u, presidium, t, long] }
        allowFreeSeating: { type: boolean, readOnly: true, description: Может ли организатор расставлять столы из набора ресторана. }
      required: [id, name, capacity, windows, seatingConfig, allowedSeating, defaultSeatingTemplate, allowFreeSeating]
    SeatingConfig:
      type: object
      description: 'fixed закрепляет расположение столов и стульев за рестораном, гости выбирают места; flexible позволяет организатору расставлять столы только из tablePresets. Конфигурация копируется в банкет при его создании.'
      required: [type, fixedLayout, tablePresets]
      properties:
        type: { type: string, enum: [fixed, flexible] }
        fixedLayout:
          "$ref": "#/components/schemas/SeatingLayout"
        tablePresets:
          type: array
          minItems: 1
          maxItems: 40
          uniqueItems: true
          items:
            type: object
            required: [shape, seats]
            properties:
              shape: { type: string, enum: [round, rect] }
              seats: { type: integer, minimum: 1, maximum: 40 }
    HallInput:
      type: object
      required: [name, capacity, windows]
      properties:
        name: { type: string, maxLength: 100 }
        capacity: { type: integer, minimum: 1, maximum: 1000 }
        windows:
          type: array
          minItems: 1
          maxItems: 28
          items:
            type: object
            required: [weekday, start, end]
            properties:
              weekday: { type: integer, minimum: 0, maximum: 6, description: Воскресенье = 0 }
              start: { type: string, pattern: '^([01]\d|2[0-3]):[0-5]\d$' }
              end: { type: string, pattern: '^(([01]\d|2[0-3]):[0-5]\d|24:00)$', description: '24:00 означает конец суток. Семь окон 00:00–24:00 задают круглосуточный режим.' }
        seatingConfig:
          "$ref": "#/components/schemas/SeatingConfig"
        allowedSeating: { type: array, deprecated: true, uniqueItems: true, items: { type: string, enum: [choice, fixed] }, description: 'Устаревший параметр для совместимости. Используйте seatingConfig.' }
        defaultSeatingTemplate: { type: string, deprecated: true, enum: [rounds, u, presidium, t, long], default: rounds, description: 'Устаревший шаблон для совместимости. Используйте seatingConfig.' }
    PackageDishInput:
      type: object
      required: [name, category, nutrition]
      properties:
        name: { type: string, maxLength: 120 }
        category: { type: string, maxLength: 80 }
        description: { type: string, maxLength: 500 }
        weight: { type: string, maxLength: 40 }
        photoUrl: { type: string, description: Путь из POST /api/media }
        nutrition: { "$ref": "#/components/schemas/Nutrition" }
        allergens: { type: array, items: { type: string } }
        labels: { type: array, items: { type: string, enum: ['Халяль', 'Много белка', 'Мало калорий'] } }
        vegetarian: { type: boolean }
        available: { type: boolean }
    PackageInput:
      type: object
      required: [name, price, items]
      properties:
        name: { type: string, minLength: 1, maxLength: 120 }
        description: { type: string, maxLength: 500 }
        price: { type: integer, minimum: 1, maximum: 100000000, description: Копейки на гостя }
        items:
          type: array
          minItems: 1
          maxItems: 100
          items:
            type: object
            required: [dishId, grams]
            properties:
              dishId: { type: string, description: ID блюда только для пакета }
              grams: { type: integer, minimum: 1, maximum: 10000 }
              choiceGroup: { type: string, maxLength: 80, description: Одинаковая непустая группа для альтернатив горячего }
    Package:
      allOf:
      - "$ref": "#/components/schemas/PackageInput"
      - type: object
        required: [id]
        properties:
          id: { type: string }
    PublicEvent:
      type: object
      properties:
        id:
          type: string
          description: Непрозрачный идентификатор из ответа API; не интерпретировать
            как UUID без префикса.
        title:
          type: string
        photoUrl:
          type: string
          description: Путь загруженного фото мероприятия или пустая строка.
        date:
          type: string
          format: date-time
        deadline:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - collecting
          - approved
        restaurantId:
          type: string
          description: Непрозрачный идентификатор из ответа API; не интерпретировать
            как UUID без префикса.
        restaurantName:
          type: string
        demo:
          type: boolean
        sampleMenu:
          type: boolean
        menuSnapshot:
          const: true
          type: boolean
        seatingMode:
          "$ref": "#/components/schemas/SeatingMode"
        hallId: { type: string }
        hallName: { type: string }
        durationHours: { type: integer, minimum: 1, maximum: 12 }
        selectionMode: { type: string, enum: [individual, package] }
        package:
          anyOf:
          - "$ref": "#/components/schemas/Package"
          - type: 'null'
      required:
      - id
      - title
      - photoUrl
      - date
      - deadline
      - status
      - restaurantId
      - restaurantName
      - demo
      - sampleMenu
      - menuSnapshot
    Event:
      type: object
      properties:
        id:
          type: string
          description: Непрозрачный идентификатор из ответа API; не интерпретировать
            как UUID без префикса.
        title:
          type: string
        photoUrl:
          type: string
        date:
          type: string
          format: date-time
        deadline:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - collecting
          - approved
        restaurantId:
          type: string
          description: Непрозрачный идентификатор из ответа API; не интерпретировать
            как UUID без префикса.
        restaurantName:
          type: string
        demo:
          type: boolean
        sampleMenu:
          type: boolean
        menuSnapshot:
          const: true
          type: boolean
        seatingMode:
          "$ref": "#/components/schemas/SeatingMode"
        hallId: { type: string }
        hallName: { type: string }
        durationHours: { type: integer, minimum: 1, maximum: 12 }
        selectionMode: { type: string, enum: [individual, package] }
        package:
          anyOf:
          - "$ref": "#/components/schemas/Package"
          - type: 'null'
        expectedGuests:
          type: integer
          minimum: 1
          maximum: 1000
        total:
          type: integer
          minimum: 0
          description: Целые копейки RUB; 69000 означает 690,00 руб.
        responded:
          type: integer
          minimum: 0
        joined:
          type: integer
          minimum: 0
        approvedAt:
          type:
          - string
          - 'null'
          format: date-time
        isOwner:
          type: boolean
        canManage:
          type: boolean
          description: Администратор ресторана или организатор этого банкета.
        canDelete:
          type: boolean
          description: После утверждения true только для администратора ресторана.
        revision:
          type: integer
          minimum: 0
        foodBudget:
          type: integer
          minimum: 0
          description: Бюджет одного гостя на еду, копейки; 0 — без ограничения. Жёсткий
            лимит, независимый от drinkBudget. Виден участникам банкета.
        drinkBudget:
          type: integer
          minimum: 0
          description: Бюджет одного гостя на напитки (категория «Напитки»), копейки;
            0 — без ограничения. Жёсткий лимит, независимый от foodBudget.
        budget:
          type: integer
          minimum: 0
          description: Организатор банкета или администратор ресторана. Плановый бюджет банкета = (foodBudget
            + drinkBudget) × expectedGuests, копейки.
        sharedTotal:
          type: integer
          minimum: 0
          description: Организатор банкета или администратор ресторана. Стоимость общего стола, копейки;
            входит в total.
        ownerName:
          type: string
          description: Организатор банкета или администратор ресторана. Имя создателя.
        inviteCode:
          type: string
          pattern: "^[A-Za-z0-9_-]{24}$"
      required:
      - id
      - title
      - photoUrl
      - date
      - deadline
      - status
      - restaurantId
      - restaurantName
      - demo
      - sampleMenu
      - menuSnapshot
      - expectedGuests
      - total
      - responded
      - joined
      - approvedAt
      - isOwner
      - revision
      - foodBudget
      - drinkBudget
      description: budget и inviteCode присутствуют только для владельца или ресторанной
        роли. total/responded/joined доступны также присоединившемуся гостю.
    EventCreate:
      type: object
      properties:
        restaurantId:
          type: string
          description: Непрозрачный идентификатор из ответа API; не интерпретировать
            как UUID без префикса.
        title:
          type: string
          minLength: 1
          maxLength: 120
        photoUrl:
          type: string
          description: Путь из POST /api/media; необязательно.
        selectionMode: { type: string, enum: [individual, package], default: individual }
        packageId: { type: string, description: Обязателен при selectionMode=package }
        packageChoice: { type: string, description: dishId выбранного горячего для пакета с альтернативами }
        hallId: { type: string, description: Зал этого ресторана; по умолчанию первый зал }
        durationHours: { type: integer, minimum: 1, maximum: 12, default: 4 }
        seating:
          type: object
          properties:
            mode: { type: string, enum: [off, choice, fixed] }
            template: { type: string, enum: [rounds, u, presidium, t, long, empty] }
          description: Без объекта используется стандартная схема зала и fixed, если он разрешён. Организатор может переопределить схему, только когда зал разрешает choice.
        date:
          type: string
          format: date-time
        deadline:
          type: string
          format: date-time
        expectedGuests:
          type: integer
          minimum: 1
          maximum: 1000
        foodBudget:
          type: integer
          minimum: 0
          maximum: 10000000000
          default: 0
          description: Бюджет одного гостя на еду, копейки; 0 — без ограничения.
        drinkBudget:
          type: integer
          minimum: 0
          maximum: 10000000000
          default: 0
          description: Бюджет одного гостя на напитки, копейки; 0 — без ограничения.
      required:
      - restaurantId
      - title
      - date
      - deadline
      - expectedGuests
      description: date и deadline должны быть в будущем; deadline не позже date.
        Выбранный ресторан должен иметь хотя бы одно доступное блюдо.
    EventPatch:
      type: object
      required: [expectedRevision]
      properties:
        expectedRevision: { type: integer, minimum: 0 }
        title: { type: string, minLength: 1, maxLength: 120 }
        photoUrl: { type: string, description: Путь из POST /api/media; пустая строка убирает фото. }
        hallId: { type: string }
        hallName: { type: string }
        durationHours: { type: integer, minimum: 1, maximum: 12 }
        selectionMode: { type: string, enum: [individual, package] }
        packageId: { type: string }
        packageChoice: { type: string }
        date: { type: string, format: date-time }
        deadline: { type: string, format: date-time }
        expectedGuests: { type: integer, minimum: 1, maximum: 1000 }
        foodBudget: { type: integer, minimum: 0, maximum: 10000000000 }
        drinkBudget: { type: integer, minimum: 0, maximum: 10000000000 }
    InvitedGuestCreate:
      type: object
      required: [name, phone]
      properties:
        name: { type: string, minLength: 1, maxLength: 100 }
        phone:
          type: string
          description: Международный номер, допускаются пробелы, скобки и дефисы; +7 и 8 для РФ нормализуются.
    InvitedGuestPatch:
      type: object
      properties:
        name: { type: string, minLength: 1, maxLength: 100 }
        phone: { type: string }
    InvitedGuest:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        phone: { type: string }
        userId:
          type: [string, 'null']
          description: Идентификатор привязанного MAX-пользователя, если он вошёл; в ответе создания отсутствует.
        maxId: { type: [string, 'null'], description: MAX ID привязанного гостя; только для администратора мероприятия. }
        joined: { type: boolean }
        submitted: { type: boolean }
      required: [id, name, phone, joined]
    SelectionItem:
      type: object
      properties:
        menuItemId:
          type: string
          description: Непрозрачный идентификатор из ответа API; не интерпретировать
            как UUID без префикса.
        quantity:
          type: integer
          minimum: 1
          maximum: 20
        price:
          type: integer
          minimum: 0
          description: Целые копейки RUB; 69000 означает 690,00 руб.
        name:
          type: string
      required:
      - menuItemId
      - quantity
      - price
      - name
    Selection:
      type: object
      properties:
        submitted:
          type: boolean
        notes:
          type: string
          maxLength: 1000
        items:
          type: array
          items:
            "$ref": "#/components/schemas/SelectionItem"
        total:
          type: integer
          minimum: 0
          description: Целые копейки RUB; 69000 означает 690,00 руб.
      required:
      - submitted
      - notes
      - items
      - total
    Guest:
      type: object
      properties:
        id:
          type: string
          description: Непрозрачный идентификатор из ответа API; не интерпретировать
            как UUID без префикса.
        name:
          type: string
        submitted:
          type: boolean
        notes:
          type: string
          maxLength: 1000
        items:
          type: array
          items:
            "$ref": "#/components/schemas/SelectionItem"
        total:
          type: integer
          minimum: 0
          description: Целые копейки RUB; 69000 означает 690,00 руб.
        seat:
          type: string
          description: Только для владельца и ресторана при включённой рассадке, например
            «Стол 2, место 3»; пустая строка — место не назначено.
      required:
      - id
      - name
      - submitted
      - notes
      - items
      - total
    SummaryItem:
      type: object
      properties:
        menuItemId:
          type: string
          description: Непрозрачный идентификатор из ответа API; не интерпретировать
            как UUID без префикса.
        name:
          type: string
        quantity:
          type: integer
          minimum: 1
        total:
          type: integer
          minimum: 0
          description: Целые копейки RUB; 69000 означает 690,00 руб.
      required:
      - menuItemId
      - name
      - quantity
      - total
    EventDetail:
      type: object
      properties:
        event:
          "$ref": "#/components/schemas/Event"
        menu:
          type: array
          items:
            "$ref": "#/components/schemas/MenuItem"
        guests:
          type: array
          items:
            "$ref": "#/components/schemas/Guest"
        selection:
          "$ref": "#/components/schemas/Selection"
        summary:
          type: array
          items:
            "$ref": "#/components/schemas/SummaryItem"
        canSelect:
          type: boolean
          description: Истина для присоединившегося гостя и для организатора-владельца, который может выбрать блюда и место для себя.
        invitedGuests:
          type: array
          description: Только владелец или ресторан; содержит телефоны списка приглашённых.
          items:
            "$ref": "#/components/schemas/InvitedGuest"
        inviteCode:
          type: string
          pattern: "^[A-Za-z0-9_-]{24}$"
        inviteUrl:
          type: string
          format: uri
        maxInviteUrl:
          type:
          - string
          - 'null'
          format: uri
        seating:
          "$ref": "#/components/schemas/Seating"
        shared:
          type: array
          description: Общий стол банкета; виден и гостям.
          items:
            "$ref": "#/components/schemas/SharedItem"
      required:
      - event
      - menu
      - guests
      - selection
      - summary
      - canSelect
      - seating
      - shared
      description: Владелец и ресторан видят всех guests, summary и ссылки приглашения.
        Гость видит только себя, summary=[], ссылки отсутствуют. selection всегда
        описывает текущего пользователя либо пустой выбор.
    InvitePreview:
      type: object
      properties:
        event:
          "$ref": "#/components/schemas/PublicEvent"
        menu:
          type: array
          items:
            "$ref": "#/components/schemas/MenuItem"
      required:
      - event
      - menu
    Joined:
      type: object
      properties:
        eventId:
          type: string
          description: Непрозрачный идентификатор из ответа API; не интерпретировать
            как UUID без префикса.
      required:
      - eventId
    SelectionPut:
      type: object
      properties:
        items:
          type: array
          minItems: 1
          maxItems: 50
          items:
            type: object
            properties:
              menuItemId:
                type: string
                description: Непрозрачный идентификатор из ответа API; не интерпретировать
                  как UUID без префикса.
              quantity:
                type: integer
                minimum: 1
                maximum: 20
            required:
            - menuItemId
            - quantity
        notes:
          type: string
          maxLength: 1000
      required:
      - items
      description: Полная замена собственного выбора. menuItemId уникальны и принадлежат
        снимку меню; сервер игнорирует присланную цену и рассчитывает сумму сам. Сумма
        выбора <=10000000000 копеек.
    SelectionSaved:
      type: object
      properties:
        success:
          type: boolean
          const: true
        total:
          type: integer
          minimum: 0
          description: Целые копейки RUB; 69000 означает 690,00 руб.
      required:
      - success
      - total
    Approve:
      type: object
      properties:
        expectedRevision:
          type: integer
          minimum: 0
          maximum: 10000000000
      required:
      - expectedRevision
      description: Обязательна для collecting. Значение revision из просмотренного
        EventDetail; изменение гостями даёт 409. Для повторного утверждения approved
        тело необязательно.
    MaxUpdate:
      type: object
      properties:
        update_type:
          type: string
        timestamp:
          type: integer
        chat_id:
          type: integer
        payload:
          type:
          - string
          - 'null'
        user:
          type: object
          properties:
            user_id:
              type: integer
            is_bot:
              type: boolean
        message:
          type: object
          properties:
            sender:
              type: object
              properties:
                user_id:
                  type: integer
                is_bot:
                  type: boolean
            recipient:
              type: object
              properties:
                chat_type:
                  type: string
            body:
              type: object
              properties:
                mid:
                  type: string
                text:
                  type: string
      description: Объект Update MAX. Обрабатываются bot_started и message_created
        из личного диалога человека. Остальные корректные JSON-объекты подтверждаются
        200 и игнорируются.
      additionalProperties: true
    WebhookAck:
      type: object
      properties:
        ok:
          type: boolean
          const: true
        ignored:
          type: boolean
        duplicate:
          type: boolean
      required:
      - ok
    SeatingMode:
      type: string
      enum:
      - 'off'
      - choice
      - fixed
      description: off — только блюда; choice — гости выбирают места сами; fixed —
        места назначает организатор.
    SeatingTable:
      type: object
      properties:
        id:
          type: string
          pattern: "^[A-Za-z0-9_]{1,32}$"
        shape:
          type: string
          enum:
          - round
          - rect
        label:
          type: string
          minLength: 1
          maxLength: 24
          description: Число выводится как «Стол N», текст — как есть (например «Президиум»).
        x:
          type: number
        y:
          type: number
        w:
          type: number
          minimum: 40
          maximum: 1400
        h:
          type: number
          minimum: 40
          maximum: 1000
          description: Для круглого стола равна w.
        rotation:
          type: integer
          enum:
          - 0
          - 90
          - 180
          - 270
        seats:
          type: integer
          minimum: 0
          maximum: 40
        sides:
          type: array
          description: Только rect; стороны, где стоят стулья.
          items:
            type: string
            enum:
            - top
            - right
            - bottom
            - left
      required:
      - id
      - shape
      - label
      - x
      - y
      - w
      - h
      - seats
    SeatingLayout:
      type: object
      description: Стулья не хранятся; их id вида «<tableId>-<n>» и координаты вычисляются
        из стола функцией shared/seating.mjs. Не больше 150 столов и 1000 мест.
      properties:
        tables:
          type: array
          maxItems: 150
          items:
            "$ref": "#/components/schemas/SeatingTable"
      required:
      - tables
    SeatPerson:
      type: object
      properties:
        key:
          type: string
          description: invite:<id> для гостя из списка или user:<id> для гостя без записи в списке (демо-ссылка).
        name:
          type: string
        userId:
          type:
          - string
          - 'null'
        seatId:
          type:
          - string
          - 'null'
        source:
          type:
          - string
          - 'null'
          enum:
          - guest
          - admin
          - auto
          - null
      required:
      - key
      - name
      - seatId
    Seating:
      type: object
      properties:
        mode:
          "$ref": "#/components/schemas/SeatingMode"
        layout:
          "$ref": "#/components/schemas/SeatingLayout"
        seatCount:
          type: integer
        mySeat:
          type:
          - string
          - 'null'
        occupied:
          type: array
          items:
            type: string
        names:
          type: object
          description: Имена гостей на занятых местах, seatId → имя; видны всем участникам.
          additionalProperties:
            type: string
        canCustomize:
          type: boolean
          description: Только организатору и администратору; может ли текущий пользователь менять режим и схему.
        allowedModes:
          type: array
          description: Только организатору и администратору; варианты рассадки банкета.
          items: { type: string, enum: [choice, fixed] }
        layoutPolicy: { type: string, enum: [fixed, flexible], description: Закреплена ли карта рестораном. }
        tablePresets:
          type: array
          description: Разрешённые формы и размеры столов для этого банкета.
          items:
            type: object
            properties:
              shape: { type: string, enum: [round, rect] }
              seats: { type: integer }
        hallCapacity: { type: integer, description: Вместимость зала в стульях. }
        people:
          type: array
          description: Только владелец и ресторан.
          items:
            "$ref": "#/components/schemas/SeatPerson"
      required:
      - mode
      - layout
      - seatCount
      - mySeat
      - occupied
      - names
    SeatingPut:
      type: object
      properties:
        mode:
          "$ref": "#/components/schemas/SeatingMode"
        layout:
          "$ref": "#/components/schemas/SeatingLayout"
    SeatChoice:
      type: object
      properties:
        seatId:
          type:
          - string
          - 'null'
      required:
      - seatId
    SeatAssignment:
      type: object
      properties:
        guest:
          type: string
          description: key из Seating.people.
        seatId:
          type:
          - string
          - 'null'
      required:
      - guest
      - seatId
    AutoSeatResult:
      type: object
      properties:
        assigned:
          type: integer
        unseated:
          type: integer
          description: Гостей, которым не хватило мест.
        seating:
          "$ref": "#/components/schemas/Seating"
      required:
      - assigned
      - unseated
      - seating
    SharedItem:
      type: object
      properties:
        menuItemId:
          type: string
        name:
          type: string
        quantity:
          type: integer
          minimum: 1
          maximum: 1000
        price:
          type: integer
          description: Цена из снимка меню, копейки.
        total:
          type: integer
      required: [menuItemId, name, quantity, price, total]
    SharedPut:
      type: object
      required: [items]
      properties:
        items:
          type: array
          maxItems: 200
          items:
            type: object
            required: [menuItemId, quantity]
            properties:
              menuItemId: { type: string }
              quantity: { type: integer, minimum: 1, maximum: 1000 }
    SharedSaved:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            "$ref": "#/components/schemas/SharedItem"
    MenuImport:
      type: object
      required: [itemIds]
      properties:
        itemIds:
          type: array
          minItems: 1
          maxItems: 500
          items: { type: string }
    CatalogSelection:
      type: object
      required: [itemIds]
      properties:
        itemIds:
          type: array
          maxItems: 500
          uniqueItems: true
          items: { type: string }
    MenuImported:
      type: object
      required: [added]
      properties:
        added: { type: integer, minimum: 0 }
    KitchenEntry:
      type: object
      required: [event, summary, shared, guests]
      properties:
        event:
          "$ref": "#/components/schemas/Event"
        summary:
          type: array
          description: Порции по блюдам, включая общий стол.
          items:
            "$ref": "#/components/schemas/SummaryItem"
        shared:
          type: array
          items:
            "$ref": "#/components/schemas/SharedItem"
        guests:
          type: array
          description: Гости с сохранённым выбором.
          items:
            type: object
            properties:
              name: { type: string }
              notes: { type: string }
              seat: { type: string }
              items:
                type: array
                items:
                  type: object
                  properties:
                    name: { type: string }
                    quantity: { type: integer }
    RestaurantInput:
      type: object
      properties:
        name: { type: string, minLength: 1, maxLength: 120 }
        address: { type: string, maxLength: 200 }
        description: { type: string, maxLength: 500 }
    RestaurantMember:
      type: object
      properties:
        userId: { type: string }
        maxId: { type: [string, 'null'] }
        name: { type: string }
        role: { type: string, enum: [admin] }
      required: [userId, maxId, name, role]
    ManagedUser:
      type: object
      required: [id, name, maxId, phone, superAdmin, fixed, isYou, roles]
      properties:
        id: { type: string }
        name: { type: string }
        maxId: { type: [string, 'null'] }
        phone: { type: [string, 'null'], description: Только подтверждённый номер. }
        superAdmin: { type: boolean }
        fixed: { type: boolean, description: Роль нельзя изменить (суперадминистратор или демо-организатор). }
        isYou: { type: boolean }
        eventRoles:
          type: object
          description: eventId → есть ли право организатора на доступный банкет.
          additionalProperties: { type: boolean }
        roles:
          type: object
          description: restaurantId → admin | none для доступных ресторанов.
          additionalProperties:
            type: string
            enum: [admin, none]
    ExportLink:
      type: object
      required:
      - url
      properties:
        url:
          type: string
          format: uri
          description: Одноразовая capability на 60 секунд; не логировать и не публиковать.
  responses:
    '400':
      description: Некорректные данные, JSON или отсутствие expectedRevision.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    '401':
      description: Отсутствует/истекла сессия, неверная MAX-подпись, sandbox либо
        webhook secret.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    '403':
      description: Недостаточно прав или другой scope.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    '404':
      description: Ресурс не найден, недоступен пользователю либо демо отключено.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    '409':
      description: Состояние заказа не допускает действие, дедлайн истёк, нет блюд/ответов
        или устарела ревизия.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    '413':
      description: JSON-тело превышает 65536 байт.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    '415':
      description: 'Ожидается Content-Type: application/json.'
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    '429':
      description: Лимит входов, демо-пространств, банкетов либо блюд превышен.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    '500':
      description: Внутренняя ошибка; технические детали не возвращаются клиенту.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    '503':
      description: MAX не настроен либо хранилище дедупликации временно недоступно.
      content:
        application/json:
          schema:
[...]
